
<label>Page title</label>
<input class="form-control" type="text" placeholder="page title" />


<label>Display Name</label>
<input class="form-control" type="text" placeholder="Display Name" />


<label>Alt Name</label>
<input class="form-control" type="text" placeholder="Alt Name" />


<label>default template</label>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>

<label>Url Name</label>
<input class="form-control" type="text" placeholder="URL" />


<label>SEO Keywords</label>
<input class="form-control" type="text" placeholder="SEO Keywords" />


<label>Article Headline</label>
<input class="form-control" type="text" placeholder="Article Headline" />

<label>Article Image</label>
<input class="form-control" type="image" />

<label>Article Body</label>
<textarea class="form-control" rows="3"></textarea>

<button id="saveWebPage" type="button" class="btn btn-success">Success</button>
